# Версия синтаксиса docker-compose
version: '3.8'

# Здесь мы описываем все сервисы (контейнеры), которые составляют наше приложение
services:
  # Название нашего сервиса с базой данных
  db:
    # Используем официальный образ PostgreSQL версии 14
    image: postgres:17
    # Имя контейнера, чтобы было легко к нему обращаться
    container_name: my_postgres_db
    # Всегда перезапускать контейнер, если он упал
    restart: always
    # Переменные окружения, необходимые для инициализации Postgres
    environment:
      POSTGRES_USER: myuser            # Создаем пользователя с именем 'myuser'
      POSTGRES_PASSWORD: mysecretpassword # Устанавливаем ему пароль
      POSTGRES_DB: user_service_db      # Сразу создаем базу данных с нужным именем
    # Пробрасываем порт, чтобы мы могли подключаться к БД с нашего компьютера (например, через DBeaver)
    ports:
      - "5432:5432"
    # Здесь мы "монтируем" локальную папку в контейнер, чтобы данные не терялись при перезапуске
    volumes:
      - postgres_data:/var/lib/postgresql/data

# Здесь мы описываем "тома" (volumes) - это специальные хранилища для данных
volumes:
  postgres_data:
  # Просто объявляем том. Docker сам будет управлять им.