version: '3.8'

services:
  # Сервисы инфраструктуры
  kafka:
    build:
      context: ./infra/kafka-custom/
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
    environment:
      # --- KRaft-специфичные настройки ---
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      # --- Полная и правильная настройка сети ---
      KAFKA_LISTENERS: 'INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092,EXTERNAL://localhost:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'

      # --- Прочие настройки для одного узла ---
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: [ "CMD-SHELL", "kafka-topics --list --bootstrap-server localhost:9092" ]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 90s
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - media_monitoring_net
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kafka-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    networks:
      - media_monitoring_net
  schema-registry:
    image: confluentinc/cp-schema-registry:8.1.0
    hostname: schema-registry
    container_name: schema-registry
    restart: always
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    networks:
      - media_monitoring_net
    depends_on:
      kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8081/subjects || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
  postgres:
    image: postgres:17
    container_name: my_postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./infra/postgres-init:/docker-entrypoint-initdb.d
    networks:
      - media_monitoring_net
    healthcheck:
      # Проверяем, что служебная база готова
      test: [ "CMD-SHELL", "pg_isready -U myuser -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # --------------------------------------------------------------------
  # Сервисы наших приложений
  # --------------------------------------------------------------------
  tik-tok-parser-service:
    build:
      context: ./services/parsers/tik-tok-parser
    container_name: tik-tok-parser
    restart: unless-stopped
    env_file:
      - ./services/parsers/tik-tok-parser/.env.docker
    depends_on:
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
#    volumes:
#      - ./services/parsers/tik-tok-parser:/app
    networks:
      - media_monitoring_net

  virality-analyzer-service:
    build:
      context: ./services/virality-analyzer-service
      # Жестко указываем, что ВСЕГДА собираем development-версию
      target: development
    container_name: virality-analyzer-service
    # Пробрасываем папку для live reload
    env_file:
      - ./services/virality-analyzer-service/.env.docker
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
      schema-registry:
        condition: service_healthy
    ports:
      - "8100:8080" # Пример порта для будущего API
    volumes:
      - ./services/virality-analyzer-service:/app
    networks:
      - media_monitoring_net

networks:
  media_monitoring_net:
    driver: bridge

volumes:
  postgres_data:
  kafka_data: