version: '3.9'
name: media-monitoring
services:
  kafka:
    build:
      context: ./kafka-custom/
    container_name: kafka
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'

      KAFKA_LISTENERS: 'INTERNAL://:29092,EXTERNAL://:9092,CONTROLLER://:9093'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://kafka:29092,EXTERNAL://localhost:9092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: [ "CMD-SHELL", "kafka-topics --list --bootstrap-server localhost:9092" ]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 90s
    volumes:
      - kafka_data:/var/lib/kafka/data
    networks:
      - media_monitoring_net
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local-kafka-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    networks:
      - media_monitoring_net
  mongodb:
    image: mongo:8.2.3
    container_name: mongodb
    restart: unless-stopped
    ports:
      # Пробрасываем порт, чтобы ты мог подключиться через Compass/DataGrip
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo_data:/data/db
    networks:
      - media_monitoring_net
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s
  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - media_monitoring_net

  tik-tok-parser-service:
    build:
      context: ../services/parsers/tik-tok-parser
    container_name: tik-tok-parser
    restart: unless-stopped
    env_file:
      - ../services/parsers/tik-tok-parser/.env.docker
    depends_on:
      kafka:
        condition: service_healthy
#    volumes:
#      - ./services/parsers/tik-tok-parser:/app
    networks:
      - media_monitoring_net

  virality-analyzer-service:
    build:
      context: ../services/virality-analyzer-service
      target: development
    container_name: virality-analyzer-service
    env_file:
      - ../services/virality-analyzer-service/.env.docker
    environment:
      - INTERNAL_API_KEY=${INTERNAL_API_KEY}
    depends_on:
      mongodb:
        condition: service_healthy
      kafka:
        condition: service_healthy
    ports:
      - "8100:8100"
    volumes:
      - ../services/virality-analyzer-service:/app
    networks:
      - media_monitoring_net
  api-gateway:
    build:
      context: ../services/api-gateway
    container_name: api-gateway
    restart: unless-stopped
    env_file:
      - ../services/api-gateway/.env.docker
    environment:
      - INTERNAL_API_KEY=${INTERNAL_API_KEY}
    tty: true
    ports:
      - "8000:8000"
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    volumes:
      - ../services/api-gateway:/app
    networks:
      - media_monitoring_net
    depends_on:
      redis:
        condition: service_started
      virality-analyzer-service:
        condition: service_started

networks:
  media_monitoring_net:
    driver: bridge

volumes:
  mongo_data:
  kafka_data: